{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="rt">
        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <h2 class="header center teal-text text-lighten-2">Doclab</h2>
                    <div class="row center">
                        <strong><h6 class="header col s12 light">Une application web qui vous permets de prendre des rendez-vous facilement avec vos medecins préferés.</h6></strong>
                    </div>
                    <div class="row center">
                        <a href="#rdv" class="btn-large waves-effect waves-light teal lighten-1">Prendre rendez-vous</a>
                    </div>
                    <br><br>

                </div>
            </div>
            <div class="parallax"><img src="images/2.jpg" alt="Unsplashed background img 1"></div>
        </div>


        <div class="container">
            <div class="section">

                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                            <h5 class="center">Rapide</h5>
                            <p class="light">Grâce à cette application, les utilisateurs peuvent prendre rendez-vous avec les médecins de leur choix en toute simplicité</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                            <h5 class="center">Patients et docteur</h5>

                            <p class="light">Doclab est une plate-forme qui permet aux utilisateurs de mettre un patient en relation avec un médecin..</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                            <h5 class="center">Facile à utiliser</h5>

                            <p class="light">Nous avons fait de notre mieux et nous nous améliorons constamment pour offrir à nos clients des services faciles à utiliser.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light">Nous accordons beaucoup d'importance à votre santé</h5>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="images/2.jpg" alt="Unsplashed background img 3"></div>
        </div>
        <div class="example-wrapper">
            <br>
            <div class="container">
                <div class="row">
                    <form>
                        <div class="input-field">
                            <h5>Veuillez choisir votre date de rendez-vous :</h5>
                            <input id="rdv" type="text" class="datepicker" >
                        </div>
                    </form>
                </div>
            </div>
            <div class="td">
                <table>
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Profession</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody class="infos">
                    {% for docteur in docteurs  %}
                        <tr>
                            <td>
                                {{ docteur.idDocteur.nom }}
                            </td>
                            <td>
                                {{ docteur.idDocteur.profession }}
                            </td>
                            <td>
                                <a href="{{path('app_profil', { 'docteur': docteur.idDocteur.id }) }}" class="btn waves-effect waves-light" type="submit" name="action">Réserver
                                    <i class="material-icons right">send</i>
                                </a>
                            </td>
                        </tr>
                    {% endfor  %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
    <script language="JavaScript">
        const Calender = document.querySelector('.datepicker');
        M.Datepicker.init(Calender, {
            format:'yyyy-mm-dd'
        });

        let temp = document.getElementById('rdv').value;
        //document.getElementById("rdv").value.addEventListener("click", )
        $(document).ready(function (){
            $(".datepicker-done").on("click", function(event){
                event.preventDefault();
                $.ajax({
                    url: '/',
                    method: 'POST',
                    data: {'date': temp},
                    cache: false,
                    async:true,
                    success: function (data)
                    {
                        var $response=$(data);
                        var dataToday = $response.find('.infos').html()
                        $('.infos').html(dataToday);
                    }
                }).done(function(data){
                    console.log('yes' +data);
                })
            })
        });
    </script>
{% endblock %}

