{% extends 'base.html.twig' %}

{% block title %}Inscription Docteur{% endblock %}

{% block body %}
    <section>
    <br><br>
        {{ form_start(form)}}

        <div class="row">
                <form class="col s10">
                <div class="row">
                    <div class="input-field col s4">
                    <i class="material-icons prefix">account_circle</i>
                    <br><br>
                    {{ form_row(form.nom)}}
                    </div>
                    <div class="input-field col s4">
                    <i class="material-icons prefix">account_circle</i>
                    <br><br>
                    {{ form_row(form.prenom)}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    <i class="material-icons prefix">location_on</i>
                    <br><br>
                    {{ form_row(form.adresse)}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                    <i class="material-icons prefix">accessibility</i>
                    <br><br>
                    {{ form_row(form.sexe)}}
                    </div>
                    <div class="input-field col s4">
                    <i class="material-icons prefix">cake</i>
                    <br><br>
                    {{ form_row(form.date_naissance)}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    <i class="material-icons prefix">credit_card</i>
                    <br><br>
                    {{ form_row(form.matricule)}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    <i class="material-icons prefix">work</i>
                    <br><br>
                    {{ form_row(form.profession)}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    <i class="material-icons prefix">book</i>
                    <br><br>
                    {{ form_row(form.diplome)}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    <i class="material-icons prefix">email</i>
                    <br><br>
                    {{ form_row(form.email)}}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                    <i class="material-icons prefix">security</i>
                    <br><br>
                    {{ form_row(form.mdp)}}
                    </div>
                </div>
                </form>
            </div>

            <div align="center">
                <button type="submit">S'inscrire</button>
            </div>
        {{ form_end(form)}}
        <br><br>
    </section>
{% endblock %}
