{% extends 'base.html.twig' %}

{% block title %}Prendre rendez-vous!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="container">
    <div class="row">
        <div class="col s12 m4">

            <div class="card blue darken-4 left-align">
                <div class="card-content white-text ">

                    <div class="center">
                        {% for docteur in docteurs  %}
                             {% if docteur.id == id %}
                                 {% if docteur.sexe == 'feminin'  %}

                                        <img src="{{ asset('/images/medecin_1.jpg')}}"  class="circle responsive-img" width="100" alt="medecin">

                                {% else %}

                                        <img src="{{ asset('/images/medecin_3.jpg')}}" class="circle responsive-img" width="100" alt="medecin">
                                 {% endif %}

                            {% endif %}
                        {% endfor %}

                        <span class="card-title"><b>Profil</b></span>
                        <p>Informations du practicien </p>

                        {% for docteur in docteurs  %}
                            {% if docteur.id == id %}
                            <p><b>Nom :</b> {{ docteur.prenom }} {{ docteur.nom }} </p>
                            <p><b>Profession :</b> {{ docteur.profession }}</p>
                            <p><b>Adresse:</b> {{ docteur.adresse }}</p>
                            {% endif %}
                        {% endfor %}
                        <br>

                    </div>


                </div>

                </div>

            </div>


    <div class="center">
        <h5> Disponibilités </h5> <br>

        {% for dispo in dispos %}

            <a class="waves-effect waves-light btn-large blue darken-4"> <p>{{ dispo.heure|date('H:i') }}</p></a>
        {% endfor %}
        </div>

    </div>
    </div>


{% endblock %}