{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

<div align="center">
<div class="example-wrapper">
    <h3>Vous consultez Doclab en tant que : </h3>
    <br><br>
    <a href="{{path('app_patient_inscription')}}" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Patient</a>
    <a href="{{path('app_docteur_inscription')}}" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>Docteur</a>
</div>
</div>
{% endblock %}
